:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

/* Banner */
.header-banner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* Sección de entrada */
.input-section {
    flex: 2;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 2.5rem; /* Usamos rem para escalabilidad */
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-align: center;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 1.8rem; /* Usamos rem para escalabilidad */
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
}

.button-container {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}

/* Estilos de botón */
button {
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin: 20px 0;
    padding: 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1rem;
}

.button-draw img {
    margin-right: 10px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Amigo item y botones */
.friend-button {
    padding: 5px;
}

.friendItem {
    margin: 10px;
}

.update-input {
    border: #000 solid 1.5px;
    padding: 5px;
    font-size: 1rem;
}

.update-button {
    padding: 5px 10px;
    font-size: 0.9rem;
}

/* Contenedor del amigo seleccionado */
.hidden {
    display: none;
}

#winnerContainer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    border: 2px solid #1e90ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.winner-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1e90ff;
    margin-bottom: 10px;
}

.winner-name {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ff4500;
}

/* Boton reset */
.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #e63900;
}

/* Responsive design (test) */
@media (max-width: 768px) {
    .header-banner{
        flex-direction: column;
    }
    .input-section{
        width: 90%;
    }
    .main-content {
        padding: 0 20px;
    }
    .main-title {
        font-size: 2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .input-name {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .button-draw {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .winner-title {
        font-size: 1.2rem;
    }

    .winner-name {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .header-banner{
        flex-direction: column;
    }
    .input-section{
        width: 90%;
    }
    .main-title {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .input-name {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .button-draw {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .winner-title {
        font-size: 1rem;
    }

    .winner-name {
        font-size: 0.9rem;
    }
}